.app-container {
    width: 100vw;
    height: 100vh;
    color: #e21414;
    position: relative;
  
    .loading {
      height: 100%;
      width: 100%;
      background-color: #ebee2d;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
  
      .follow {
        position: absolute;
        background: linear-gradient(112.1deg, #ffffff 11.4%, #78d8f3 70.2%);
        height: 2px;
        width: 0;
        left: 0;
        z-index: 2;
      }
  
      .progress-bar {
        position: absolute;
        left: 0;
        background-color: #fff;
        color:#fff;
        height: 2px;
        width: 0;
        transition: 0.4s ease-out;
  
        &.hide {
          opacity: 1;
        }
      }
    }
  
    .content {
      height: 100%;
      width: 0;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      padding: auto;
      z-index: 2;
      overflow: hidden;
      color: #24a6da;
    }
  }
